.dashboard {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;

    ::deep .poster {
        height: 6rem;
    }

    ::deep .info {
        flex-direction: column;
        gap: 0.5rem;
    }
}
